/*
    1. Position
    2. Box Model
    3. Typography
    4. Visuals
    5. Others
*/

:root {

    /*Tipos de fuentes*/
    --primary-font: 'DM Sans', sans-serif;
    --secundary-font: 'Inter', sans-serif;

    /*Colors*/
    --linear-bg: #201E1C, #F7931A;
    --bitcoin-orange: #F7931A;
    --soft-orange: #FFE9D4;
    --secundary-blue: #1A9AF7;
    --soft-blue: #E7F5FF;
    --grey-color: #BABABA;
    --just-white: #FFFFFF;
    --off-white: #FAF8F7;
    --warm-black: #201E1C;
    --black: #282623;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: var(--primary-font);
}

/* HEADER */
    /*Elements*/
header {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center;
    background: linear-gradient(207.8deg,#201E1C 16.69%, #F7931A 100%)
}

main {
    width: 100%;
    min-width: 320px;
    height: auto;
    background-color: var(--off-white);
}

header img {
    width: 150px;
    height: 24px;
    margin-top: 40px;
    align-self: center;
}
    /*Class*/
.header--title-container {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 40px;
    text-align: center;
    align-self: center;
}

.header--title-container h1 {
    color: var(--just-white);
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
}

.header--title-container p {
    color: var(--soft-orange);
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    margin-top: 25px;
}

.header--title-container .header--button {
    position: absolute;
    left: calc(50% - 118px);
    top: 270px;
    display: block;
    margin-top: 35px;
    padding: 15px;
    width: 229px;
    height: 48px;
    background-color: var(--off-white);
    /*Shadows*/
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    /*Border*/
    border: none;
    border-radius: 5px;
    /*Text*/
    text-align: center;
    color: var(--warm-black);
    text-decoration: none;
    font-size: 1.4rem;
    font-weight:700;
}

.header--button span {
    display: inline-block;
    width: 20px;
    height: 17px;
    margin-left: 3px;
    background-image: url(./assets/icos/mdi_keyboard_arrow_down.svg);
}

/*MAIN CONTENT*/
.main--exchange-container {
    width: 100%;
    min-width: 320px;
    height: auto;
    padding-top: 70px;
    padding-bottom: 30px;
    text-align: center;
}

.main--exchange-container-text {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
}

.main--exchange-container-text h2 {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 2.6rem;
    margin-bottom: 15px;
    color: var(--warm-black);
}

.main--exchange-container-text p {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #757575;
    margin-bottom: 35px;
}

.main--exchange-container .backgroundImg {
    width: 195px;
    height: 195px;
    margin: 0 auto;
    margin-bottom: 30px;
    background-image: url(./assets/imgs/bitcoin.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main--tables-container {
    display: flex;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}

.tables--container-table {
    width: 70%;
    scroll-snap-align: center;
    min-width: 235px;
    max-width: 500px;
    height: 350px;
    margin-inline: 40px;
    margin-bottom: 25px;
    font-family: var(--secundary-font);
}

.tables--container-table .currency--table-title {
    color: var(--bitcoin-orange);
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 10px;
    line-height: 2.3rem;
}

/* CURRENCY TABLE */
.currency--table-container {
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 0 auto;
    margin-bottom: 15px;
}

.currency--table-container table {
    width: 100%;
    height: 100%;
}

.currency--table-container table td {
    width: 50%;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.9rem;
    color: #B5B0AC;
    background-color: var(--just-white);
}

.currency--table-container table .table__right {
    color: #757575;
    text-align: center;
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.7rem;
}

.currency--table-container .up {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url(./assets/icos/trending-up.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.currency--table-container .down {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url(./assets/icos/trending-down.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/*Table Borders*/

.currency--table-container .table__top-left {
    border-top-left-radius: 10px;
}

.currency--table-container .table__top-right {
    border-top-right-radius: 10px;
}

.currency--table-container .table__button-left {
    border-bottom-left-radius: 10px;
}

.currency--table-container .table__button-right {
    border-bottom-right-radius: 10px;
}

.currency--table-date {
    width: 190px;
    height: 30px;
    margin: 0 auto;
    background-color: var(--soft-orange);
    padding: 8px;
    border-radius: 8px;
}

.currency--table-date p {
    text-align: center;
    font-family: var(--secundary-font);
    font-size: 1.2rem;
    font-weight: 300;
    color: var(--black);
}

/* COMISIONS TABLE */

.tables--container-table .comisions--table-title {
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    margin-bottom: 10px;
    color: var(--secundary-blue);
}

.comisions--table-container {
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 0 auto;
    margin-bottom: 15px;
}

.comisions--table-container table {
    width: 100%;
    height: 100%;
}

.comisions--table-container table td {
    width: 50%;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.9rem;
    color: #B5B0AC;
    background-color: var(--just-white);
}

.comisions--table-container .table__right {
    text-align: center;
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.9rem;
    color: #757575;
}

/*COMISION TABLE BORDER*/

.comisions--table-container .table__top-left {
    border-top-left-radius: 10px;
}

.comisions--table-container .table__top-right {
    border-top-right-radius: 10px;
}

.comisions--table-container .table__button-left {
    border-bottom-left-radius: 10px;
}

.comisions--table-container .table__button-right {
    border-bottom-right-radius: 10px;
}

.comisions--table-date {
    width: 190px;
    height: 30px;
    margin: 0 auto;
    padding: 8px;
    border-radius: 8px;
    background-color: var(--soft-blue);
}

.comisions--table-date p {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 300;
    font-family: var(--secundary-font);
    color: var(--black);
}

/* MAIN PRODUCT DETAIL */ 

.main--product-detail {
    position: relative;
    width: 100%;
    min-width: 320px;
    height: auto;
    padding: 20px 10px;
    background-color: var(--warm-black);
}

.main--product-detail .product--detail-ico {
    width: 40px;
    height: 24px;
    position: absolute;
    display: block;
    top: -12px;
    left: calc(50% - 25px);
    background-image: url(./assets/imgs/group16.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main--product-detail .product--detail-text-container {
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-top: 45px;
    margin-bottom: 35px;
    text-align: center;
}

.main--product-detail .product--detail-text-container h2 {
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 2.6rem;
    color: var(--just-white);
    margin-bottom: 25px;
}

.main--product-detail .product--detail-text-container p {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.8rem;
    color: #808080;
}

.main--product-detail .product--detail-articles article {
    width: 100%;
    min-width: 288px;
    max-width: 460px;
    height: auto;
    padding-inline: 20px;
    padding-bottom: 22px;
    padding-top: 14px;
    margin: 0 auto;
    margin-bottom: 16px;
    text-align: left;
    background-color: var(--black);
}

/*Article Section Icos*/

.main--product-detail .product--detail-articles article span {
    margin-bottom: 8px;
}

.main--product-detail .product--detail-articles article .clock {
    width: 24px;
    height: 24px;
    display: block;
    background-image: url(./assets/icos/clock.svg);
}

.main--product-detail .product--detail-articles article .eye {
    width: 24px;
    height: 24px;
    display: block;
    background-image: url(./assets/icos/eye.svg);
}

.main--product-detail .product--detail-articles article .dollar {
    width: 24px;
    height: 24px;
    display: block;
    background-image: url(./assets/icos/dollar-sign.svg);
}

.main--product-detail .product--detail-articles article .check {
    width: 24px;
    height: 24px;
    display: block;
    background-image: url(./assets/icos/check-circle.svg);
}

/* ARTICLE SECTION TEXT */

.main--product-detail .product--detail-articles .article-title {
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.8rem;
    color: var(--just-white);
    margin-bottom: 10px;
}

.main--product-detail .product--detail-articles .article-text {
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.8rem;
    color: #808080;
}

.bitcoin--image-container {
    width: 100%;
    min-width: 320px;
    height: 50vh;
    text-align: center;
    background-image: url(./assets/imgs/bitcoinbaby1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bitcoin--image-container h2 {
    padding-top: 70px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}

.main--product-plan {
    width: 100%;
    min-width: 320px;
    padding-bottom: 70px;
    background-color: var(--off-white);
    text-align: center;
}

.product--plan-article-container {
    display: flex;
    gap: 40px;
    height: 322px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}

.product--plan-text-conatiner {
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-top: 64px;
    margin-bottom: 25px;
    
}
.product--plan-text-conatiner h2 {
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--warm-black);
    margin-bottom: 24px;
}

.product--plan-text-conatiner p {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #757575;
}

.product--plan-article-container article {
    position: relative;
    scroll-snap-align: center;
    width: 60%;
    min-width: 200px;
    max-width: 300px;
    margin: 30px auto;
    height: auto;
    min-height: 245px;
    padding: 0 30px;
    background-color: var(--just-white);
    border-radius: 10px;
    box-shadow: 0px 4px 8px 0px rgba(89, 73, 30, 0.16);
}
.product--plan-article-container .article--feature {
    position: absolute;
    font-size: 1.2rem;
    font-family: var(--secundary-font);
    color: var(--just-white);
    background-color: var(--bitcoin-orange);
    border-radius: 10px;
    padding: 8px;
    top: -15px;
    left: calc(50% - 45px);
}

.article--text-container {
    height: auto;
    width: 100%;
}

.article--text-container h3 {
    padding-top: 30px;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.8rem;
}

.article--text-container .dollar-sign {
    position: absolute;
    font-size: 1.4rem;
    font-weight: 400;
    top: 43px;
    left: 30%;
}

.article--text-container .price-plan {
    font-size: 5.2rem;
    font-weight: 700;
    padding: 5px 0;
    color: black;
    line-height: 6.3rem;
}

.article--text-container .reserved-money {
    font-size: 1.2rem;
    font-weight: 500;
    padding: 0 10px;
    margin-bottom: 20px;
}

.product--plan-article-container .button-call-to-action {
    width: 137px;
    height: 48px;
    background-color: var(--off-white);
    border: 2px solid var(--bitcoin-orange);
    border-radius: 5px;
    font-family: var(--primary-font);
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--black);
    line-height: 1.8rem;
}

.product--plan-article-container .button-call-to-action span {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url(./assets/icos/arrow-right.svg);
    vertical-align: text-bottom;
}

/* FOOTER */

footer {
    display: flex;
    width: 100%;
    height: 150px;
    background-color: var(--bitcoin-orange);
}

footer section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

footer .left ul {
    list-style: none;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
}

footer .left li {
    margin-bottom: 10px;
}

footer .left a {
    text-decoration: none;
    color: var(--just-white);
}

footer .right img {
    width: 90px;
    height: 65px;
}

