.product--plan-article-container {
    justify-content: center;
}

.main--tables-container {
    justify-content: center;
}

.product--detail-articles {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 950px;
    margin: 0 auto;
    justify-content: center;
}

